.header {
  background-color: #FFB8CA;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 6px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
}

@media screen and (max-width: 768px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-text {
    position: relative;
    font-family: Titan One;
    margin: 0px;
    padding-top: 137px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 768px) {
  .header-text-span {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header-text-span__second {
    font-family: Titan One;
    display: block;
    margin: 0px;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }
}

@media screen and (max-width: 768px) {
  .hero-button {
    min-width: 62.4px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    background: #D41443;
    color: white;
    border-color: transparent;
    font-family: DM sans;
    cursor: pointer;
  }
  .hero-button__second {
    min-width: 82.8px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 19px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    background: #FFFFFF;
    color: #D41443;
    border-color: transparent;
    font-family: DM sans;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-button {
    width: 160px;
    border-radius: 20px;
    padding: 7px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    background: #FFFFFF;
    color: #D41443;
    border-color: transparent;
    font-family: DM sans;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .header-button {
    margin-left: 0px;
  }
}

.header-button::after {
  content: "";
  border: solid #D41443;
  border-width: 0 2px 2px 0;
  margin-left: 15px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.header-button:hover,
.header-button:focus {
  background-color: #ECEBEB;
}

.buttons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (max-width: 768px) {
  .products-list {
    font-family: Titan One;
    text-align: center;
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFA5BA;
  }
  .products-list__second {
    font-family: Titan One;
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }
}

.products-cards-title {
  position: relative;
}
@media screen and (max-width: 768px) {
  .products-cards-title {
    font-family: Titan One;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.products-cards-title::after {
  content: "...";
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

@media screen and (max-width: 768px) {
  .products-cards-text {
    font-family: DM Sans;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 768px) {
  .products-cards-list {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFB8CA;
    border: solid #FFB8CA;
    border-radius: 24px;
  }
}

@media screen and (max-width: 768px) {
  .products-cards-button {
    position: relative;
    margin-bottom: 41px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: inherit;
    background-color: #ffffff;
  }
}

.products-cards-button::after {
  content: "";
  border: solid #E17992;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.how-made {
  background-color: #FFF5F6;
  padding-top: 125px;
  padding-bottom: 145px;
  background-image: url(/images/how-made-milk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .how-made-text {
    font-family: Titan One;
    display: block;
    text-align: center;
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFA5BA;
  }
}

@media screen and (max-width: 768px) {
  .how-made-title {
    font-family: Titan One;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }
}

@media screen and (max-width: 768px) {
  .how-made-cowimg {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .how-made-paragraph {
    font-family: DM Sans;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
  }
  .how-made-paragraph__second {
    font-family: DM Sans;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #907E82;
    background-image: url(/images/how-its-made-milk1x.jpg);
  }
}

@media screen and (max-width: 768px) {
  .how-made-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: DM sans;
    min-width: 176px;
    border-radius: 40px;
    padding: 13px;
    margin-top: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    color: #D41443;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.08);
    border-color: transparent;
    cursor: pointer;
  }
}

.how-made-button::after {
  content: "";
  border: solid #D41443;
  border-width: 0 3px 3px 0;
  margin-left: 13px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.advantages-content {
  padding: 0;
  margin-top: 39px;
  margin-bottom: -38px;
}

.advantages-list {
  margin-bottom: 38px;
}

@media screen and (max-width: 768px) {
  .advantages-numbers {
    font-family: Titan One;
    position: relative;
    text-align: center;
    margin: 0px;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }
}

@media screen and (max-width: 768px) {
  .advantages-numbers::before {
    content: "";
    background-image: url(/images/advantages-icon3.png);
    display: block;
    width: 50px;
    margin-bottom: 16px;
    height: 50px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .advantages-paragraph {
    font-family: DM Sans;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
  }
}

.button-open-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .button-open-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .button-open-mobile {
    top: 0;
    right: 0;
    position: relative;
  }
}

.button-close-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .button-close-mobile {
    display: none;
  }
}

.open-mobile-icon {
  width: 20px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0px;
  fill: #D41443;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .open-mobile-icon {
    position: relative;
  }
}

.close-mobile-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 6px;
  right: 3px;
}

.button-modal {
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 500px;
  border: none;
  background-color: #E17992;
  opacity: 1;
  transform: translateX(100%);
  overflow: hidden;
}
.button-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .button-modal {
    height: 100vh;
    right: 5%;
  }
}

.button-modal--active {
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mobile-module {
  width: 209px;
  border-radius: 20px;
  padding: 7px;
  margin-top: 60px;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background: #FFFFFF;
  color: #D41443;
  border-color: transparent;
  font-family: DM sans;
  cursor: pointer;
}

.button-mobile-module:hover,
.button-mobile-module:focus {
  background-color: #ECEBEB;
}

.button-mobile-module::after {
  content: "";
  border: solid #D41443;
  border-width: 0 2px 2px 0;
  margin-left: 15px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.header-list {
  font-family: DM Sans;
  margin-top: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border-top: 1px solid #E18298;
  border-bottom: 1px solid #E18298;
}
@media screen and (min-width: 1280px) {
  .header-list {
    font-size: 16px;
    line-height: 21px;
    margin-top: 0;
    margin-right: 35px;
    padding: 0px;
    border: none;
  }
}

.header-list--active {
  color: #D41443;
}

.header-list > a {
  color: inherit;
}

.header-list:last-child {
  margin-right: 0px;
}

.header-content {
  margin-top: -22px;
  margin-bottom: 0px;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .header-content {
    display: flex;
    margin: 0px;
  }
}/*# sourceMappingURL=main.css.map */