

.header{
    background-color: #FFB8CA;
    @media screen and (max-width: 768px) {
    padding-top: 6px;
    }
    @media screen and (min-width: 768px){
        padding-top: 37px;
    // height: 500px;
    // background-image: url(/images/header-icecream.png), url(/images/header-Ellipse.png);
    // background-repeat: no-repeat;
    // background-position: bottom center, bottom center;
}
}

.header-mobile{
    @media screen and (max-width: 768px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        display: none;
}
}

.header-text{
    @media screen and (max-width: 768px) {
    position: relative;
    font-family: Titan One;
    margin: 0px;
    padding-top: 137px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}
    }

    .header-text-span{
        @media screen and (max-width: 768px) {
            display: block;
        }
            }
    
            .header-text-span__second{
                @media screen and (max-width: 768px) {
                    font-family: Titan One;
                    display: block;
                    margin: 0px;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 46px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #D41443;
                }
                    }

                    .hero-button{
                        @media screen and (max-width: 768px) {
                        min-width: 62.4px;
                        border-radius: 20px;
                        padding: 7px;
                        margin-top: 19px;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 10px;
                        text-align: center;
                        background: #D41443;
                        color: white;
                        border-color: transparent;
                        font-family: DM sans;
                        cursor: pointer;
                        &__second{
                            min-width: 82.8px;
                        border-radius: 20px;
                        padding: 7px;
                        margin-top: 19px;
                        margin-left: 8px;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 10px;
                        text-align: center;
                        background: #FFFFFF;
                        color: #D41443;
                        border-color: transparent;
                        font-family: DM sans;
                        cursor: pointer;
                        }
                        }
                    }

                    .header-button{
                        @media screen and (max-width: 768px) {
                            display: none;
                    }
                    @media screen and (min-width: 768px){
                        width: 160px;
                        border-radius: 20px;
                        padding: 7px;
                        margin-left: 30px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                        text-align: center;
                        background: #FFFFFF;
                        color: #D41443;
                        border-color: transparent;
                        font-family: DM sans;
                        cursor: pointer;

                        @media screen and (min-width: 1280px) {
                            margin-left: 0px;
                        }
                }
            }

            .header-button::after{
            content: '';
            border: solid #D41443;
            border-width: 0 2px 2px 0;
            margin-left: 15px;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            }

            .header-button:hover,
            .header-button:focus{
                background-color: #ECEBEB;
            }

            .buttons{
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: flex-end;
            }
                        


                                        